:root {
  /* Farver */
  --text-color: #593921; /* er også button farven */
  --text-color-white: #fff;
  --text-color-other: #472c19;
  --text-color-subtitle: #8f7e72;

  /* andre farver - skal vi have dem med?*/
  --box-color: #ede1d8;
  --textbox-color: #faf4f0;
  --button-color: #faf4f0;
  --hover-color: #f8ef21;
  --trans-color: rgba(70, 69, 97, 0.65);

  /* Typografi */
  --font-size-xxl: 3.5rem; /* size 56 */
  --font-size-xl: 2.5rem; /* size 40 */
  --font-size-l: 2rem; /* size 32 */
  --font-size-m: 1.5rem; /* size 24 */
  --font-size-s: 1.25rem; /* size 20 */
  --font-size-xs: 1rem; /* size 16 */
  --font-size-xxs: 0.5rem; /* size 8 */

  --font-weight-bold: 700;
  --font-weight-semibold: 600;

  --font-family-header: italiana;
  --font-family-text: judson;
  --font-family-subtitle: yeseva one;

  /* Spacing */
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #cab49b;
}
main {
  height: 100%;
  margin: auto;
  background-image: url(/public/svg/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
body {
  color: var(--text-color);
  font-family: var(--font-family-text);
}
img {
  max-width: 100%;
  height: auto;
}
