---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<h1>Bliv inspireret...</h1>
	<h2>Håndlavet - Autentisk - Organisk</h2>
	<section>
		<article>
			<img src="" alt="">
			<div>
				<p>Maria Eutokia guldarmbånd med rubin - 11.500 kr.</p>
			</div>
		</article>
		<article>
			<img src="" alt="">
			<div>
				<p>Maria Eutokia øreringe - 11.500 kr.</p>
			</div>
		</article>
		<article>
			<img src="" alt="">
			<div>
				<p>Maria Eutokia ring - 11.500 kr.</p>
			</div>
		</article>
	</section>
	<section>
		<h3>Det der er vigtigt for dig og mig...</h3>
		
	</section>
</MainLayout>