---
import MainLayout from "../layouts/MainLayout.astro"
import Openinghours from "../components/Openinghours.astro"
---

<MainLayout>
<article class="grid_2-1">
	<section class="img_grid1">
		<div>
			<h1>Bliv inspireret...</h1>
			<p>Håndlavet - Autentisk - Organisk</p>
		</div>
		<div>
			<img src="/img/jewelry_forside.webp"alt="">
			<div>
				<h8 class="img_tekst">Empress Dowager halskæde med granat - 1.350 kr.</h8>
			</div>
		</div>
	</section>
	<section class="img_grid2">
		<div>
			<img src="/img/bracelet_forside.webp" alt="">
			<div>
				<h8 class="img_tekst" >Elizabeth Leveson armbånd med blå iolit - 1.300 kr.</h8>
			</div>
		</div>
		<div>
			<img src="/img/earrings_forside.webp" alt="">
			<div>
				<h8 class="img_tekst" >Tehauroa øreringe med topas - 1.600 kr.</h8>
			</div>
		</div>
	</section>
</article>
	<article class="box">
		<h3>Det der er vigtigt for dig og mig...</h3>
		<section class="carousel_3">
			<div class="icons">
				<img src="/icons/tree.svg" alt="tree">
				<p>Du planter et træ i Danmark hver gang du køber et smykke</p>
			</div>
			<div class="vl"></div>
			<div class="icons">
				<img  src="/icons/heart.svg" alt="heart">
				<p>Håndlavet med kærlighed så du får den bedste kvalitet</p>
			</div>
			<div class="vl"></div>
			<div class="icons">
				<img  src="/icons/fragt.svg" alt="fragt">
				<p>Gratis og hurtig fragt i hele Danmark</p>
			</div>
		</section>
	</article>
	
	<article class="grid_1-1">
		<section class="carousel">
			<img class="big_img" src="/smykker_webp/penelope_ross_store_02.webp" alt="penelope rosse">
			<img class="mobil_img" src="/smykker_webp/penelope_ross_store_01_m.webp" alt="penelope rosse" class="mobile">
		<img class="web_img" src="/smykker_webp/penelope_ross_store_01.webp" alt="penelope rosse" class="desktop">
			
			
			</section>
	
		<section class="mobile_box">
			<h2>En klassisk favorit</h2>
			<p>Armbåndet lægger sig organisk om dit håndled. Placeringen for enderne af de blå iolitter underbygger kulørens intensitet. Kurverne er kreeret i hånden, hvilket giver hvert unikke smykke sit eget skulpturelle udtryk.</p>
			<button class="knap">Læg i kurv</button>
		</section>
	</article>



	<article class="box">
		<h3>Tak for jeres kærlighed</h2>
		<hr>
		<section class="carousel_3">
			<div class="icons">
				<h4>Anne Zimmer</h4>
				<p>Smukke, smukke smykker, fantastisk stemningsfuldt lokale og super betjening. Det kunne ikke være bedre!</p>
				<img src="/svg/stars.svg" alt="stars">
			</div>
			<div class="icons">
				<h4>Anne Mette</h4>
				<p>Jeg er VILD med smykkerne fra Nina Rønde og er tilbagevende kunde gennem mange år - både i butikken ved Rundetårn og online. Altid super god og personlig service - og smykkerne er unikke og i en god kvalitet. Største anbefaling herfra.</p>
				<img src="/svg/stars.svg" alt="stars">
			</div>
			<div class="icons">
				<h4>Karina Andersen</h4>
				<p>Hurtig levering og så får man plantet et træ for hvert smykke man køber :-)</p>
				<img src="/svg/stars.svg" alt="stars">
			</div>
		</section>
	</article>
	<Openinghours>

</Openinghours>

</MainLayout>



<style>

	/************** topen med billede grid ****************/
.grid_2-1{
	display: grid;
	gap: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	
}

.img_grid1{
display: grid;
gap: 2rem;

}

.img_grid2{
	display: grid;
	gap:1rem;
}


.img_tekst{
	display: flex;
	justify-content: flex-end;
	background-color: var( --box-color);
	padding: 4px;
	max-width: 681px;
}
	/************** SCROLL TIL BILLEDER****************/

	.carousel {
	    display: flex;
	overflow-y: auto;
	}
/************** SCROLL til ikoner og tekst sektionerne ****************/
		.carousel_3 {
		display: grid;
		grid-template-columns: 100% 100% 100%;
		max-width: 100%;
		overflow: scroll;
	}
/**** vertikale linjer mellem ikonerne */
.vl{
		display: none;
	}
/**** scroll containeren som ikoner og anmeldelserne ligger i*/
	.box{
	display: grid;
	justify-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	gap: 1rem;
	background-color: var(--box-color);
}

/********* elementerne i scroll containeren *******/
.icons{

display: grid;
gap: 2rem;
place-items: center;
text-align: center;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
}
 /******* køb nu knap *********/
.knap {
    background-color: var(--text-color);
    color: var(--text-color-white);
    border: none;
    font-family: var( --font-family-text);
    font-size: var(--font-size-s);

	   padding: 10px 70px;
}

/**** OVERSKRIFTER *******/
h1{
font-size: var(--font-size-xxxl);
font-weight: 200;

}
h2{
	font-family: var(--font-family-header);
	font-size: var(--font-size-xl);
	text-align: center;
	font-weight: 200;
	
}
h3{
	padding-top: 1rem;
	font-family: var(--font-family-header);
	font-size: var(--font-size-l);
	text-align: center;
	max-width: 250px;
	font-weight: 200;
}
h4{
	font-family: var(--font-family-text);
	font-weight: 200;
	font-size: var( --font-size-m);
}

/***** Horizontale linje i sektionen med anmeldelser */
hr{
min-width: 230px;
width: auto;


}

/***** containeren med en klassisk favorit tekstelementer og knap ******/
.mobile_box{
    display: grid;
	place-items: center;
	gap: 2rem;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--box-color);
}

/****** Her bliver web billedet skjult og mobil billedet vist i favorit sektionen ******/
.web_img{
	display: none;
}
.mobil_img{
	display: block;
}


	@media (min-width: 760px){
		.grid_2-1{
		display: grid;
		grid-template-columns: 2fr 1fr;
		margin-left: auto;
		margin-right: auto;
		gap: 1rem;
		margin-bottom: 3rem;
	}
	.img_grid1{
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 1rem;
	}

		.img_grid2{
display: flex;
flex-direction: column;
justify-content: space-between;
	}

		.vl{
			display: block;
		border-left: 2px solid var(--text-color);
  		height: 150px;
		margin-top: 26px;
	}
	.carousel_3 {
		display: flex;	
		overflow: auto;
		align-items: ;
	}

	.box{
	display: grid;
	margin-top: 1rem;
	margin-bottom: 3rem;
	gap: 1rem;
	background-color: var(--box-color);
}

.icons{

display: grid;
gap: 2rem;
place-items: center;
text-align: center;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
max-width: 300px;

}

h3{
	padding-top: 1rem;
	font-family: var(--font-family-header);
	font-size: var(--font-size-l);
	text-align: center;
	max-width: 100%;


}

hr{
	display: block;
	width: 400px;
}


    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--box-color);
        margin-top: 3rem;
		margin-bottom: 3rem;
    
    } 
.web_img{	
	   display: block;
        width: auto;
        position: absolute;
        z-index: 1;
        transform: translate(145%,35%)
}

.mobil_img{
	display: none;
}
.big_img{
  width: 400px;
}

  .mobile_box{
	display: grid;
        margin: 0;
        padding: 3rem;
       
    }


}
</style>