---
const data = await fetch(
    "https://eqchkvjopeqebfwbmvay.supabase.co/rest/v1/ninaroende", 
    {
        method: "GET",
        headers: {
            apikey:
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxY2hrdmpvcGVxZWJmd2JtdmF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDE4NzIxMTksImV4cCI6MjAxNzQ0ODExOX0.O2_NQhUNI9HIpTCIUfmjA-0sTTdDlV9B_WtqGsaBY_I"
        },
    }
).then((res) => res.json());

console.log(data);
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/Card.astro";
---

<MainLayout>
    <section id="breadcrumb">
        <a href="index.astro"></a>

    </section>
    <h1>Alle smykker</h1>
    <section id="categories">

    </section>
    <section id="filtering">

    </section>
    <section>
        {
          data.map((thing) => {
            return <Card data={thing} />;
          })
        }
      </section>
      <button>Indlæs flere</button>
</MainLayout>