---
const data = await fetch(
    "https://eqchkvjopeqebfwbmvay.supabase.co/rest/v1/ninaroende", 
    {
        method: "GET",
        headers: {
            apikey:
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxY2hrdmpvcGVxZWJmd2JtdmF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDE4NzIxMTksImV4cCI6MjAxNzQ0ODExOX0.O2_NQhUNI9HIpTCIUfmjA-0sTTdDlV9B_WtqGsaBY_I"
        },
    }
).then((res) => res.json());

import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/Card.astro";
---

<MainLayout>
    <section id="breadcrumb">
        <a href="index.astro"></a>

    </section>
    <h1>Alle smykker</h1>
    <section id="carousel">
      <button>Alle</button>
      <button>Nyheder</button>
      <button>Bestsellers</button>
<button>Øreringe</button>
<button>Halskæder</button>
<button>Armbånd</button>
<button>Ringe</button>
<button>Gavekort</button>

    </section>
    <section id="filtering">
<div class="dropdown">
  <button class="dropbtn">Filter</button>
  <div class="dropdown-content">
    <a href="#">Guldsmykker</a>
    <a href="#">Sølvsmykker</a>
    <a href="#">Uden sten</a>
     <a href="#">Med sten</a>
      <a href="#">Hænge øreringe</a>
         <a href="#"> Stikker Øreringe</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Sorter</button>
  <div class="dropdown-content">  
    <a href="#">Mest populære</a>
     <a href="#">Nyeste</a>
    <a href="#">Laveste til højeste pris</a>
    <a href="#">Højeste til laveste pris</a>
      <a href="#">Alfabetisk</a>
  </div>
</div>
    </section>
    <section class="grid_1-1">
        {
          data.map((thing) => {
            return <Card data={thing} />;
          })
        }
      </section>
      <button class="see_more">Indlæs flere</button>

</MainLayout>

<style>
  /*** får overskriften til at sidde midten */
  h1{
    text-align: center;
  }

  /*** grid til produkterne i listevisning*/
.grid_1-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
/*** knappen i bunder med indlæs flere */
.see_more {
    background-color: var(--text-color);
    padding: 10px 80px;
    color: var(--text-color-white);
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: none;
 /*** får knappen til at sidde i midten */
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

/**** scrolle menuen med kategorierne */
#carousel {
    display: flex;
	overflow-y: auto;
  gap: 1rem;
  padding: 1rem;
  
}


#carousel button {
  background-color: var(--box-color);
border: none;
border-radius: 1.5rem;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 13px;
padding-right: 13px;
font-family: judson;
color: var(--text-color);
font-size: var(--font-size-xs);

}

/*** hele containeren med filter og sorter knappen */
#filtering{
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--box-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* Style til filter og sorter knap */
.dropbtn {
  background-color: white;
 font-family: judson;
color: var(--text-color);
font-size: var(--font-size-xs);
 padding-top: 7px;
padding-bottom: 7px;
padding-left: 15px;
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
min-width: 7rem;
text-align: left;
 
}

/* Style til dropdown menuen til filter og sorter knap */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style til links i dropdown */
.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover farve til dropdown menuen */
.dropdown-content a:hover {
  background-color: var(--box-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

</style>