---
const { data } = Astro.props;
---
<a href=`/single-views/${data.slug}`>
    <article>
        <img src={"/smykker_webp/" + data.small_img} alt="">
        <h4 class= h_tekst>{data.name}</h4>
        <p>{data.short_des}</p>
    </article>
</a>
 <style>


    p{
font-family: var(  --font-family-text);

    }
.h_tekst{
font-family: var(  --font-family-subtitle)
}
    h4{
font-family: var(  --font-family-subtitle);
    }
    
    a{
        text-decoration:none;
        color:var(  --text-color);
    }
    
 </style>
