---
const { data } = Astro.props;
---
<a href=`/single-views/${data.slug}`>
    <article>
        <img src={"/smykker_webp/" + data.small_img} alt="">
        <h4>{data.name}</h4>
        <p>{data.short_des}</p>
    </article>
</a>
 <style>


    p{
font-family: var(  --font-family-text);


    }

    h4{
font-family: var(  --font-family-subtitle);
font-weight: 200;
    }
    
    a{
        text-decoration:none;
        color:var(  --text-color);
        max-width:200px;
        
}


    
 </style>
