---
const { data } = Astro.props;
---
<a href=`/single-views/${data.slug}`>
    <article>
        <img src={"/smykker_webp/" + data.small_img} alt="">
        <h4>{data.name}</h4>
        <p>{data.short_des}</p>
    </article>
</a>
