---
import "../styles/global.css";
---
<footer>
<section class="container"> 
    <article class="nyhedbrevet">
        <h2>Tilmeld dig nyhedsbrevet</h2>
        <p>Følg med når der kommer nyheder og få 10% rabat på dit første køb</p>
    </article>
<img class="web" src="/svg/arrow.svg" alt="pil">
    <article>
        <p class="din_mail">din email...</p>
        <hr>
        <button>Tilmeld</button>
    </article> 
</section>

<section class="bund grid_1_1_1">
    <article>
        <h3>Åbningstider</h3>
        <article class="web openingshours">
		<p>Mandag - Lørdag:</p>
		<p>11:00 - 17:30</p>
		<p>Søndag 3/12:</p>
		<p>Lukket</p>
		<p>Søndag 10/12, 17/12:</p>
		<p>11:00 - 16:00</p>
		<p>Lørdag 23/12:</p>
		<p>11:00 - 15:00</p>
		<p>24/12 - 1/1:</p>
		<p>Lukket</p>
        </article>
	</article>

    <article>
        <h3>Kontakt</h3>
        <article class="web">
        <p>Nina Rønde Jewelry</p>
        <p>info@ninaroende.dk </p>
        <p>+45 26 15 11 58 – kun i</p>
        <p>butikkens åbningstid</p>
    
        <p>Nina Rønde Jewelry Store</p>
        <p>Kannikestræde 5 1169</p>
        <p>København K</p>
        </article>   
    </article>
        
    <article>
        <h3>Information</h3>
        <article class="web">
        <p>FAQ</p>
        <p>Forsendelsesinformation</p>
        <p>Vilkår og betingelser</p>
        <p>Gavekort</p>
        </article>
    </article>

    <article class="order_3">
        <h3>Sociale medier</h3>
        <img src="/svg/instagram.svg" alt="instagram">
        <img src="/svg/facebook.svg" alt="faecbook">
    </article>

    <article class="order_2">
        <h3>Samarbejdspartnere</h3>
        <img src="/icons/klimatra.webp" alt="sertificat">
        <img src="/icons/growingtree.webp" alt="sertificat">
    </article>

    <article class="order_1">
        <h6>NINA RØNDE Jewelry</h6>
        <p>© 2023 Ninaroende.dk. All Rights Reserved</p>
        <p>CVR-nr. 25283309</p> 
    </article>

</section>
</footer>

<style>

 
    h2{
        font-size: var(--font-size-l);
        font-family: var( --font-family-header);
        font-weight: 100;
        margin: 10px;
    }
    p{
         font-size: var(--font-size-s);
         font-family: var( --font-family-text);
         font-weight: 100;
         padding: 0.5rem;
    }
    .din_mail{
        margin-top: 30px;
    }

    h3{
        font-size: var(--font-size-s);
        font-family: var(--font-family-subtitle); 
        font-weight: 100;
        padding: 20px;
        
    }

    h6{
        font-family: var( --font-family-header); 
        font-size: var(--font-size-m);
        font-weight: 100;
        margin: 10px;
    }
    .order_1 p{
        font-size: var(--font-size-xs); 
    }

    img{
       margin: 10px;
  
    }
    .web {
        display: none; /* Skjul elementet på mobil */
    }
    .container{
        /*her styles nyhedbrevet, padding skaber mere rum inden i*/
        background-image: url('/svg/footer_sten2.webp'); 
        background-size: cover;
        position: relative;
        text-align: center;
        color: white;
        padding-top: 25px;
        padding-bottom: 45px;
    }     
    .bund{
        background-color: #6A5A4B;
        color: white;
        text-align: center;
        padding-bottom: 1rem;
    }
    button{
        background-color: #D9D9D9;
        color: #593921;
        padding: 10px 60px;
        border: none; /* Fjern kantlinje */
        cursor: pointer; /* Gør cursor til en pegefinger ved hover */
        font-size: var(--font-size-s);
        font-family: var( --font-family-text);
        margin: 10px;
    }

    hr{
        margin-left:auto ;
        margin-right:auto ;
        display: block;
        width: 13rem;
    }
    @media screen and (min-width: 768px){
        .web {
            display: block; /* Vis elementet på desktop og større skærme */
        }
.bund{
    padding: 5rem;
}
        .container{
           padding-top: 100px;
           padding-bottom: 50px; 
            /*her er flex til nyhedbrevet som centre indholdet*/
            display: flex;
            justify-content: center;
            gap: 1rem; 
        }
        .container, .bund{
            /*her giver jeg en container som er nyhedbrevet og bund som er den nederste del af footern*/
            text-align: left;
        }

        .grid_1_1_1{
            /*her er grid til den brune footer*/
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
       
        }
        .openingshours{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
        .order_3{
            order: 3;/* her giver jeg placering i mit grid til mit element med en class, så den sidder andeledes på web*/
        padding-top: 2rem;
        }
        .order_2{
            order: 2;
            padding-top: 2rem;
        }

        h2{
        font-size: var(--font-size-xxxl);
        font-family: var( --font-family-header);
        font-weight: 100;
        margin: 10px;
    }
      .din_mail{
        margin-top: 30px;
        text-align:left;
        margin-left: 0px;
    }
    
        .bund p{
            font-size: var(--font-size-xs);
    }
        .bund h3{
            font-size: var(--font-size-m);
            padding: 5px;
    }
    .order_1{
        /* her fotæller jeg indholdet i order_1 skal placere sig nedesrt oven på hinanden */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
}



    }
</style>