    <section class="container">
            
            <h2>Tilmeld dig nyhedsbrevet</h2>
            <h4>Følg med når der kommer nyheder og få 10% rabat på dit første køb</h4>
            <h4>din email...</h4>
            <button>Tilmeld</button>
        </section>
        <section class="bund">
            <h3>Åbningstider</h3>
            <h3>Kontakt</h3>
            <h3>Information</h3>
            <h3>Sociale medier</h3>
            <img src="/svg/instagram.svg" alt="instagram">
             <img src="/svg/facebook.svg" alt="faecbook">
            <h3>Samarbejdspartnere</h3>
            <img src="/icons/klimatra.webp" alt="sertificat">
             <img src="/icons/growingtree.webp" alt="sertificat">
            <h6>NINA RØNDE Jewelry</h6>
            <h7>© 2023 Ninaroende.dk. All Rights Reserved</h7>
            <h7>CVR-nr. 25283309</h7>
        </section>

        <style>
       .container
       {
       background-image: url('/svg/footer_sten2.webp'); 
    background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}     
.bund{
    background-color: #6A5A4B;
    color: white;
    text-align: center;
    
}
button{
    background-color: #D9D9D9;
    color: #593921;
    padding: 10px 50px;
    border: none; /* Fjern kantlinje */
    cursor: pointer; /* Gør cursor til en pegefinger ved hover */
}
        </style>