---
import "../styles/global.css";
---
<section class="carousel">
    <p>Køb før den 20. december og få din pakke inden jul</p>
    <p>Fri fragt</p>
    <p>Julegaver byttes indtil 13. januar</p>
</section>
<header>
    <nav>
        <ul class="menu">
            <li> <a href="/jewelry">Shop</a></li>
            <hr>
            <li> <a href="#">Om Nina</a></li>
            <hr>
            <li> <a href="#">Vores ansvar</a></li>
            <hr>
            <li> <a href="#">Kontakt</a></li>
            <hr>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    
        <article class="logo">
            <a href="/../index.html">
                <img src="/svg/logo_mobile.svg" id="mobile" alt="Logo">
                <img src="/svg/logo.svg" id="desk" alt="Logo desktop">
            </a>
        </article>
     
        <article id="icons">
            <img src="/svg/newsletter.svg" alt="newsletter">
            <img src="/svg/kurv.svg" alt="læg i kurv">
        </article>
      
    
</header>

<!-- denne JS kører clint-side, hvilke gør at den kører hvergang siden bliver loadet -->
<script>
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll(".menu li a");
    
    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    });
    
    links.forEach((link) => {
      link.addEventListener("click", () => {
        burger.classList.remove("active");
        nav.classList.remove("active");
      });
    });
    </script>

<style>
   
        
#mobile {
    display: none;
}
header {
    display: grid;
    align-items: center;
    padding: 20px;
    grid-template-columns: 2fr 1fr 2fr;


}
#icons{
    display: flex;
justify-content: flex-end;
}

nav {
    display: flex;
    align-items: center;
    justify-content:left;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-link);
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: var(--hover-color);
}

.burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    margin-bottom: 5px;
}
.burger {
    display: none;
}
hr{
    display: none;
}
/* Carousel */
.carousel {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
    background-color: var(--textbox-color);
    padding: 5px 0 ;
}






@media screen and (max-width: 768px) {
    /* Carousel */
.carousel {
    grid-template-columns: 100% 100% 100%;
	max-width: 100%;
	overflow: scroll;
}
    #mobile{
        display: block;
    }

    #desk{
        display: none;
    }
    .logo {
        display: flex;
        justify-content: flex-start;
        justify-content: left;
        margin-left: -15%;
    }
    header {
        display: flex;
        align-items: center;
        justify-content:space-between;
        border-bottom: none;
        margin-bottom:3rem;
    
    } 
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    nav.active .menu {
        display: block;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        left: 0;
        /* er med til at tilpasse størrelsen på den udfoldet burgermenu */
        height: 1000%;
        width: 70%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav.active .menu li {
        margin: 10px 20px;
    }

    nav.active .menu a {
        font-size: 24px;
    }
    hr{
        display: block;
        border: 1px solid var(--text-color);
        margin: 5px 20px 20px 30px;
    }

}
@media screen and (max-width: 320px){
    section p {
        font-size:small;
    }
    nav.active .menu {
        top: 70px;
    } 
    .logo {
        margin-left: -20px;
    }
}
@media screen and (min-width: 768px){
    #mobile{
        display: none;
    }
    #desk{
        display: block;
    }
    .logo{
        margin-left: 0;
    }
 
}
</style>