---
import "../styles/global.css";
---
<section class="carousel">
    <p>Køb før den 20. december og få din pakke inden jul</p>
    <p>Fri fragt</p>
    <p>Julegaver byttes indtil 13. januar</p>
</section>
<header>
    <nav>
        <ul class="menu">
            <li> <a href="/jewelry.astro">Shop</a></li>
            <hr>
            <li> <a href="#">Om Nina</a></li>
            <hr>
            <li> <a href="#">Vores ansvar</a></li>
            <hr>
            <li> <a href="#">Kontakt</a></li>
            <hr>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div class="logo">
        <a href="/../index.html">
            <img src="/" alt="Logo">
        </a>
    </div>
</header>

<script>
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll(".menu li a");
    
    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    });
    
    links.forEach((link) => {
      link.addEventListener("click", () => {
        burger.classList.remove("active");
        nav.classList.remove("active");
      });
    });
    </script>

<style>
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo {
    margin-left: -1rem;
}
.logo img {
    width: 80%;
}
nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-link);
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: var(--hover-color);
}

.burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    margin-bottom: 5px;
}
.burger {
    display: none;
}
hr{
    display: none;
}

/* Carousel */
.carousel {
    display: grid;
	grid-template-columns: 100% 100% 100%;
	max-width: 100%;
	overflow: scroll;
	place-items: center;
}
@media screen and (max-width: 768px) {
    .logo {
        display: flex;
        justify-content: flex-start;
    }
    header {
        display: flex;
        align-items: center;
    } 
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    nav.active .menu {
        display: block;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        left: 0;
        /* for at vores burgermenu  */
        height: 1000%;
        width: 70%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav.active .menu li {
        margin: 10px 20px;
    }

    nav.active .menu a {
        font-size: 24px;
    }
    hr{
        display: block;
        border: 1px solid var(--text-color);
        margin: 5px 20px 20px 30px;
    }
}
@media screen and (max-width: 320px){
    section p {
        font-size:small;
    }
    nav.active .menu {
        top: 70px;
    } 
}
</style>