<article class="butik_mobil">
<section>
         <div>
		    <h2>Besøg min butik</h2>
		</div>

		<div>
			<h5>Adresse</h5>
			<p>Store Kannikestræde 5 1169 <br>
			København K</p>
	    </div>


		
        <div class="grid_1">
         
			<h5>Åbningstider</h5>
           
            <div class="grid_1-1">

            <div>
			<p>Mandag - Lørdag:</p>
			<p>Søndag 3/12:</p>
			<p>Søndag 10/12, 17/12:</p>
			<p>Lørdag 23/12:</p>
			<p>24/12 - 1/1:</p>
		    </div>
	

		    <div>
			<p>11:00 - 17:30</p>
			<p>Lukket</p>
			<p>11:00 - 16:00</p>
			<p>11:00 - 15:00</p>
			<p>Lukket</p>
            </div>

            </div>

        </div>

</section>
</article>



<article class="butik_web">
<section class="grid_web">

    <div>
		    <img class="butik_img" src="/img/butikken_forside.webp" alt="">
    </div>
	
    <div class="grid_1">

        <div>
		    <h2>Besøg min butik</h2>
		</div>

		<div class="grid_1-1-1">

            <div class="adresse">
			<h5>Adresse</h5>
			<p>Store Kannikestræde 5 1169 <br>København K</p>
		     </div>

             <div class="tom"></div>

            <div class="dage">
			<h5>Åbningstider</h5>
			<p>Mandag - Lørdag:</p>
			<p>Søndag 3/12:</p>
			<p>Søndag 10/12, 17/12:</p>
			<p>Lørdag 23/12:</p>
			<p>24/12 - 1/1:</p>
            </div>

            <div class="line">
		    <img class="line_img" src="/svg/line.svg" alt="">
            </div>

		    <div class="tider">
            <h5 class="transparant">.</h5>
			<p>11:00 - 17:30</p>
			<p>Lukket</p>
			<p>11:00 - 16:00</p>
			<p>11:00 - 15:00</p>
			<p>Lukket</p>
            </div>

         </div>
         
    </div>

</section>
</article>


<style>

h2{
	font-family: var(--font-family-header);
	font-size: var(--font-size-xl);
	text-align: center;
	font-weight: 200;
	
}
/***** viser mobil versionen */
.butik_mobil{
    display: block;
}
/****** skjuler desktop versionen */
.butik_web{
    display: none;
}

.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.grid_1{
    display: grid;
    grid-template-rows: 1fr 1fr
}



/******************** DESKTOP *****************/
	@media (min-width: 760px){

.butik_mobil{
display: none;
}

.butik_web{
    display: block;
}

.grid_web{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
}

.grid_1{
    display: grid;
    grid-template-rows: 1fr auto;
}

.grid_1-1-1{
    display: grid;
    grid-template-areas:
    'addresse linje tom'
    'dage linje tider'
    ;
}

.adresse{
grid-area: addresse;
text-align: right;
padding-right: 2rem;
}
.dage{
    grid-area: dage;
    text-align: right;
    padding-right: 2rem;

}
.tider{
    grid-area: tider;
     display: flex;
    flex-direction: column;
    text-align: left;
       padding-left: 1rem;
}

.line{
grid-area: linje;

}
.line_img{
max-height:auto;
}


/****en tom div der gør at vores grid area template fungere
 ved at udfyllde tom plads over åbningstiderne */
.tom{
    grid-area: tom;
}
.adresse_web{
    display: flex;
    justify-content: space-around;
      flex-direction: column;
}

.transparant{
color: transparent;
}

h2{
	font-family: var(--font-family-header);
	font-size: var(--font-size-xxxl);
	text-align: center;
	font-weight: 200;
    margin-bottom: 1rem;
	
}

 h5{
font-family: var(--font-family-subtitle);
font-weight: 200;
font-size: var(--font-size-m);
padding-bottom:1rem;
}


p{
font-family: var( --font-family-text);
font-size: var( --font-size-s);
font-weight: 200;

}


    }
</style>