---
import "../styles/global.css";
import Menu from "../components/Menu.astro"
import Footer from "../components/Footer.astro"
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="desription" content="Håndlavede smykke design online shop">
		<meta name="keywords" content="håndlavet, rustik, feminine, guld, smykke, autentisk, farvede sten, råt, ægte guld, kvalitet, dansk, bæredygtigt, halskæde, armbånd, øreringe, ringe, diamanter, 18 karat, 14 karat, sølv, sterling, unika, smaragd, iolit, kreoler, hoops, banket">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Judson&family=Yeseva+One&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body>
        <Menu/>
            <main>
                <slot/>
            </main>
        <Footer/>
	</body>
</html>
